* {
    font-family: 'Poppins', sans-serif;
}
.bg-page {
    background-color: #eeeeee;
}
.bg-main {
    background-color: #ffffff;
}
.bg-head-cv {
    background-color: #303845;
    color: white;
}
.subtitle-color {
    color: #8E9397;
}
.title-color {
    color: currentColor;
}
.main-text-color {
    color: #37455e;
}
/***** <a> link ********/
.link1:link {
    color: #8c8dcc;
    text-decoration: none;
}
.link1:visited {
    color: #8c8dcc;
    text-decoration: none;
}
.link1:hover {
    color: #8c8dcc;
    text-decoration: underline;
}
.link1:active {
    color: #243b66;
    text-decoration: none;
}
