* {
    font-family: 'Poppins', sans-serif;
}
.bg-page {
    background-color: #eeeeee;
}
.bg-main {
    background-color: #ffffff;
}
.bg-head-cv {
    background-color: #303845;
    color: white;
}

.subtitle-color {
    color: #8E9397;
}
.title-color {
    color: #383838;
}
.vl {
    border-left: 1px solid black;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
.link1:link {
    color: currentColor;
}

/* visited link */
.link1:visited {
    color: currentColor;
}

/* mouse over link */
.link1:hover {
    color: currentColor;
}

/* selected link */
.link1:active {
    color: currentColor;
}
.link1:link {
    text-decoration: none;
}
.link1:visited {
    text-decoration: none;
}
.link1:hover {
    text-decoration: underline;
}
.link1:active {
    text-decoration: none;
}